.London {
    color: dodgerblue;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
    opacity: 0.5;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.London:focus {
    border: 1px solid yellowgreen;
    box-shadow: 100px;
}